@model IEnumerable<ProductMVCApp.ViewModel.ProductViewModel>
<h1>Product List</h1>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Price</th>
            <th>Origin</th>
        </tr>
    </thead>

   

    <tbody>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">No Records Found!!!</td>
            </tr>
        }

        else
        {
        
         foreach (var product in Model)
         {

    <tr>
        <td>@product.Id</td>
        <td>@product.Name</td>
        <td>@product.Amount</td>
        <td>@product.Origin</td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = product.Id })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = product.Id })
        </td>
    </tr>

        }
       }


    </tbody>

</table>